# Data Science Tools and Ecoystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries for Data Science
- List common open source tools used by Data Scientists
- Provide examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools|
|-------------------|
| Jupyter |
| RStudio |
| Watson Studio |

### Below are a few examples of evaluating arithmetic expressions in Python.

This is a simple arithmetic expression to multiply then add integers.

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60.

In [3]:
200/60

3.3333333333333335

## Author

Kianna Garcia